@page "/"
@inject IMenuService MenuService
@inject IOrderService OrderService
@inject State State
@inject NavigationManager NavigationManager

<!-- Menu -->

@if (State.Menu.Pizzas.Any())
{
    <div class="row">
        <div class="col-6">
            <PizzaList Title="Our Selection of Pizzas" Items="@State.Menu.Pizzas" ButtonTitle="Order" ButtonClass="btn btn-success pl-4 pr-4" Selected="@AddToBasket" ShowPizzaInformation="@ShowPizzaInformation"></PizzaList>
        </div>
        <div class="col-6">
            <ShoppingBasket Orders="@State.Basket.Orders" GetPizzaFromId="@State.Menu.GetPizza" Selected="@RemoveFromBasket"></ShoppingBasket>
        </div>
    </div>


    <CustomerEntry Title="Please enter your details below"
                   @bind-Customer="@State.Basket.Customer"
                   ButtonTitle="Checkout"
                   ButtonClass="mx-auto w-25 btn btn-success"
                   ValidSubmit="PlaceOrder" />
}
else
{
    <div class="mx-auto text-center mb-3 mt-3">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}






@State.ToJson()

@code {
    //private State State { get; } = new State();

    protected override async Task OnInitializedAsync()
    {
        Menu menu = await MenuService.GetMenuAsync();

        foreach (Pizza pizza in menu.Pizzas)
        {
            State.Menu.Add(pizza);
        }
    }

    protected override void OnInitialized()
    {
        //State.Menu.Add(
        //  new Pizza(1, "Pepperoni", 8.99M, Spiciness.Spicy));
        //State.Menu.Add(
        //  new Pizza(2, "Margarita", 7.99M, Spiciness.None));
        //State.Menu.Add(
        //  new Pizza(3, "Diabolo", 9.99M, Spiciness.Hot));
    }

    private async Task PlaceOrder()
    {
        await OrderService.PlaceOrder(State.Basket);
    }

    private string SpicinessImage(Spiciness spiciness)
      => $"images/{spiciness.ToString().ToLower()}.png";

    private void AddToBasket(Pizza pizza)
    => State.Basket.Add(pizza.Id);

    private void RemoveFromBasket(int pos)
    => State.Basket.RemoveAt(pos);

    private void ShowPizzaInformation(Pizza selected)
    {
        this.State.Pizza = selected;
        Task.Run(() => this.NavigationManager.NavigateTo("/pizzainfo"));
    }
}
